@model Data.Models.Contato
@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-list font-green"></i>
            <span class="caption-subject bold uppercase">Gerenciar @ViewBag.Title</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <div class="page-content-col">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("~/Views/Shared/_AlertasGrid.cshtml")
                    <div class="portlet  ">
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Manager", "Contato", FormMethod.Post, new { @id = "registerForm" }))
                            {
                                @Html.HiddenFor(model => model.Contato_ID)
                                @Html.HiddenFor(model => model.Ativo)
                                @Html.HiddenFor(model => model.Excluido)
                                @Html.HiddenFor(model => model.Respondido)
                                @Html.HiddenFor(model => model.Visualizado)
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()

                                <div class="form-body clearfix">

                                    <div class="row">
                                        @if (Tiles.Idioma == "true")
                                        {
                                            /*Valida se o Idioma esta ativo no painel admin*/
                                            @Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Idioma", "Idioma_ID", "", "Idioma_ID", "required", 12))
                                        }
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Nome", "Nome", Model.Nome, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Email", "Email", Model.Email, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Telefone", "Telefone", Model.Telefone, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Data", "Data", String.Format("{0:dd/MM/yyyy}", (Model.Data != null ? Model.Data : DateTime.Now.Date)), "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Assunto", "Assunto", Model.Assunto, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Mensagem", "Mensagem", Model.Mensagem, "required", 12))
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Salvar</button>
                                    <a href="@Url.RouteUrl("cms.contatos")" class="btn default">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
