@model Data.Models.Musica
@{
    ViewBag.Title = "Musica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-list font-green"></i>
            <span class="caption-subject bold uppercase">Gerenciar @ViewBag.Title</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <div class="page-content-col">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("~/Views/Shared/_AlertasGrid.cshtml")
                    <div class="portlet  ">
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Manager", "Musica", FormMethod.Post, new { @id = "registerForm" }))
                            {
                                @Html.HiddenFor(model => model.Musica_ID)
                                @Html.HiddenFor(model => model.Ativo)
                                @Html.HiddenFor(model => model.Excluido)
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()

                                <div class="form-body clearfix">

                                    <div class="row">
                                        @Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Álbum", "Album_ID", "", "Album_ID", "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Nome", "Nome", Model.Nome, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Compositor", "Compositor", Model.Compositor, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtArea.cshtml", new Plataforma.Models.TextField("Descrição", "Descricao", Model.Descricao, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtFileField.cshtml", new Plataforma.Models.UploadField("Arquivo", "Arquivo", Model.Arquivo, "required", 12, 1))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Ano", "Ano", (Model.Ano != null ? Model.Ano.Value.ToString() : ""), "required", 12))

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Salvar</button>
                                    <a href="@Url.RouteUrl("comunicacao.musicas")" class="btn default">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
