@model Plataforma.Models.UploadField

<div class="form-group col-md-@Model.Col col-xs-12 ">
    <label class="form-label">@Model.Label
        @if (!String.IsNullOrEmpty(Model.Required))
        {
            <span class="required" aria-required="true"> * </span>
        }
    </label>
    <input type="text" name="@Model.Name" id="@Model.Name" readonly onclick="openCustomRoxy_@(Model.Counter)()" class="form-control" value="@Model.Value" placeholder="Selecione o arquivo do informativo (pdf, doc...)" minlength="3" @Model.Required>
    <div id="roxyCustomPanel_@Model.Counter" style="display: none;">
        <iframe src="~/Scripts/fileman/index.html?integration=custom&Input=@Model.Name" style="width:100%;height:100%" frameborder="0"></iframe>
    </div>
</div>
