@model Plataforma.Models.TextField

<div class="form-group col-md-@Model.Col col-xs-12 ">
    <label>@Model.Label
    @if (!String.IsNullOrEmpty(Model.Required))
    {
        <span class="required" aria-required="true"> * </span>
    }
    </label>
    <input id="@Model.Name" name="@Model.Name" value="@Model.Value" type="text" class="form-control" @Model.Required>
</div>