@model Data.Models.Produto
@{
    ViewBag.Title = "Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-list font-green"></i>
            <span class="caption-subject bold uppercase">Gerenciar @ViewBag.Title</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <div class="page-content-col">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("~/Views/Shared/_AlertasGrid.cshtml")
                    <div class="portlet  ">
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Manager", "Produto", FormMethod.Post, new { @id = "registerForm" }))
                            {
                                @Html.HiddenFor(model => model.Produto_ID)
                                @Html.HiddenFor(model => model.Excluido)
                                @Html.HiddenFor(model => model.Url)
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()
                                <div class="form-body clearfix">
                                    <div class="row">
                                        @if (Tiles.Idioma == "true")
                                        {
                                            /*Valida se o Idioma esta ativo no painel admin*/
                                            @Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Idioma", "Idioma_ID", Model.Idioma_ID.ToString(), "Idioma_ID", "required", 6))
                                        }
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Título", "Nome", Model.Nome, "required", 9))
                                        @Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Categoria", "Categoria_ID", Model.Categoria_ID.ToString(), "Categoria_ID", "required", 3))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("SubTítulo", "Subdescricao", Model.Subdescricao, "", 6))
                                        @Html.Partial("~/Views/Fields/_txtImageField.cshtml", new Plataforma.Models.UploadField("Imagem", "Imagem", Model.Imagem, "required", 6, 1))
                                        @Html.Partial("~/Views/Fields/_txtArea.cshtml", new Plataforma.Models.TextField("Descrição", "Descricao", Model.Descricao, "", 12))
                                    </div>
                                      
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Salvar</button>
                                    <a href="@Url.RouteUrl("catalogo.produtos")" class="btn default">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
