@model Data.Models.Cliente
@using Framework.Tools
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-list font-green"></i>
            <span class="caption-subject bold uppercase">Gerenciar @ViewBag.Title</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <div class="page-content-col">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("~/Views/Shared/_AlertasGrid.cshtml")
                    <div class="portlet  ">
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Manager", "Cliente", FormMethod.Post, new { @id = "registerForm" }))
                            {
                                @Html.HiddenFor(model => model.Cliente_ID)
                                @Html.HiddenFor(model => model.Ativo)
                                @Html.HiddenFor(model => model.Excluido)
                                @Html.HiddenFor(model => model.Dental)
                                @Html.HiddenFor(model => model.UserId)
                                if (Model.Cliente_ID > 0)
                                {
                                    @Html.HiddenFor(model => model.Senha)
                                }
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()

                                <div class="form-body clearfix cliente">

                                    <div class="row">
                                        @if (Tiles.Idioma == "true")
                                        {
                                            /*Valida se o Idioma esta ativo no painel admin*/
                                            @Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Idioma", "Idioma_ID", "", "Idioma_ID", "required", 12))
                                        }
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Email", "Email", Model.Email, "required", 4))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Nome", "Nome", Model.Nome, "required", 4))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("CPF", "CPFCNPJ", Model.CPFCNPJ, "required", 4))
                                        @if (Model.Cliente_ID <= 0)
                                        {
                                            @Html.Partial("~/Views/Fields/_passField.cshtml", new Plataforma.Models.TextField("Senha", "Senha", Model.Senha, "required", 4))
                                        }
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("CRO", "CRO", Model.CRO, "required", 4))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Celular", "TelefoneCelular", Model.TelefoneCelular, "required", 4))

                                        @Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Especialidades", "Especialidade_ID", Model.Especialidade_ID.ToString(), "Especialidade_ID", "required", 9))
                                        @Html.Partial("~/Views/Fields/_txtCheck.cshtml", new Plataforma.Models.CheckField("Habilitado", "Habilitado", (Model.Habilitado == true ? true : false), "required", 3))

                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("CEP", "CEP", Model.CEP, "required", 4))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Endereço", "Endereco", Model.Endereco, "required", 4))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Número", "Numero", Model.Numero, "required", 4))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Bairro", "Bairro", Model.Bairro, "required", 3))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Complemento", "Complemento", Model.Complemento, "", 3))
                                        @Html.Partial("~/Views/Fields/_selectField2.cshtml", new Plataforma.Models.SelectField("Estado", "Estado_ID", "", "Estado_ID", "required", 3))
                                        @Html.Partial("~/Views/Fields/_selectField3.cshtml", new Plataforma.Models.SelectField("Cidades", "Cidade", "", "Municipio_ID", "required", 3))

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Salvar</button>
                                    <a href="@Url.RouteUrl("cms.clientes")" class="btn default">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{

    <script>

        if ($("#CEP").length > 0) {
            $("#CEP").mask('99.999-999');
        }

        $("#CPFCNPJ").on("change", function () {
            isValidCPF();
        });

        function isValidCPF() {

            var cpf = $("#CPFCNPJ").val();

            if (typeof cpf !== "string") return false
            cpf = cpf.replace(/[\s.-]*/igm, '')
            if (
                !cpf ||
                cpf.length != 11 ||
                cpf == "00000000000" ||
                cpf == "11111111111" ||
                cpf == "22222222222" ||
                cpf == "33333333333" ||
                cpf == "44444444444" ||
                cpf == "55555555555" ||
                cpf == "66666666666" ||
                cpf == "77777777777" ||
                cpf == "88888888888" ||
                cpf == "99999999999"
            ) {

                alert("CPF Inválido");
                $("#CPFCNPJ").val("");
                $("#CPFCNPJ").focus();
                return false
            }
            var soma = 0
            var resto
            for (var i = 1; i <= 9; i++)
                soma = soma + parseInt(cpf.substring(i - 1, i)) * (11 - i)
            resto = (soma * 10) % 11
            if ((resto == 10) || (resto == 11)) resto = 0
            if (resto != parseInt(cpf.substring(9, 10))) {
                alert("CPF Inválido");
                $("#CPFCNPJ").val("");
                $("#CPFCNPJ").focus();
                return false
            }
            soma = 0
            for (var i = 1; i <= 10; i++)
                soma = soma + parseInt(cpf.substring(i - 1, i)) * (12 - i)
            resto = (soma * 10) % 11
            if ((resto == 10) || (resto == 11)) resto = 0
            if (resto != parseInt(cpf.substring(10, 11))) {
                alert("CPF Inválido");
                $("#CPFCNPJ").val("");
                $("#CPFCNPJ").focus();

                return false
            }
            return true
        }



        function getCEP() {
            var cep = $("#CEP").val().replace(".", "");
            cep = cep.replace("-", "");

            if (cep != "") {

                $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                    if (!("erro" in dados)) {

                        $.getJSON('/estadoscidades.json', (data) => {
                            let options = '<option value="">Selecione o Estado</option>';

                            for (val of data) {
                                options += '<option value="' + val.sigla + '">' + val.nome + '</option>';
                            }

                            $("#Estado_ID").html(options);

                            $('#Estado_ID').val(dados.uf);

                            $("#Estado_ID").change(() => {
                                let options_cidades = '<option value="">Selecione a Cidade</option>';
                                let str = $("#Estado_ID").val();

                                var validacidades = "";

                                for (val of data) {
                                    if (val.sigla == str) {

                                        $.each(val.cidades, function (key, value) {
                                            options_cidades += '<option value="' + value + '">' + value + '</option>';
                                        });
                                    }
                                }

                                $("#Cidade").html(options_cidades);

                                $('#Cidade').val(dados.localidade);

                            }).change();

                        });

                    }
                    else {
                        $("#CEP").val("");
                    }

                }).done(function () {
                    $("#numero").focus();
                });


            }
        }

        getCEP();

        $("#CPFCNPJ").on("change", function () {
            isValidCPF();
        });

        $("#CEP").on("change", function () {
            getCEP();

        });
    </script>

}
