@model Data.Models.Pedido
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-list font-green"></i>
            <span class="caption-subject bold uppercase">Gerenciar @ViewBag.Title</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <div class="page-content-col">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("~/Views/Shared/_AlertasGrid.cshtml")
                    <div class="portlet  ">
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Manager", "Pedido", FormMethod.Post, new { @id = "registerForm" }))
                            {
                                @Html.HiddenFor(model => model.Pedido_ID)
                                @Html.HiddenFor(model => model.isPago)
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()

                                <div class="form-body clearfix">

                                    <div class="row">
                                        @*@Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Categoria", "Categoria_ID", "", "Categoria_ID", "required", 12))
                                        @if (Tiles.Idioma == "true")
                                        {
                                            /*Valida se o Idioma esta ativo no painel admin*/
                                            @Html.Partial("~/Views/Fields/_selectField2.cshtml", new Plataforma.Models.SelectField("Idioma", "Idioma_ID", "", "Idioma_ID", "required", 12))
                                        }*@
                                        @Html.Partial("~/Views/Fields/_selectField.cshtml", new Plataforma.Models.SelectField("Cliente", "Cliente_ID", "", "Cliente_ID", "required", 12))
                                        @Html.Partial("~/Views/Fields/_selectField2.cshtml", new Plataforma.Models.SelectField("Forma de Pagamento", "FormaPagamento_ID", "", "FormaPagamento_ID", "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Endereço IP", "Endereco_IP", Model.Endereco_IP, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Número do Pedido", "NumeroPedido", Model.NumeroPedido, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Email", "Email", Model.Email, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Telefone Comercial", "TelefoneComercial", Model.TelefoneComercial, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Telefone Celular", "TelefoneCelular", Model.TelefoneCelular, "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Valor Subtotal", "ValorSubTotal", (Model.ValorSubTotal != null ? Model.ValorSubTotal.Value.ToString() : ""), "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Valor Total", "ValorTotal", (Model.ValorTotal != null ? Model.ValorTotal.Value.ToString() : ""), "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Valor do Frete", "ValorFrete", (Model.ValorFrete != null ? Model.ValorFrete.Value.ToString() : ""), "required", 12))
                                        @Html.Partial("~/Views/Fields/_txtField.cshtml", new Plataforma.Models.TextField("Total Pago", "TotalPago", (Model.TotalPago != null ? Model.TotalPago.Value.ToString() : ""), "required", 12))

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Salvar</button>
                                    <a href="@Url.RouteUrl("vendas.pedidos")" class="btn default">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
